.main-nav{
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
  justify-content: space-between;


 


  &-logo{
    max-width: 18%;
  }

  & ul{
    display: flex;
    transition: 1s ease;

     @media only screen and(max-width:$bp-medium){
    
       
      position: absolute;
      top:0;
      left:0;
      display: block;
      background: #f2f2f2;
      width: 50%;
      height: 100%;
      color:black;
      transform: translateX(-500px);
      border-right: #ccc 1px solid;
      opacity: 0.5;
      padding: 40px;
      line-height: 5;

      i{
        display: none;
      }
     
  }

  }

  &-menu{
    flex: 1;
    margin-left: 2rem;

   

   




    & li{
      padding:0 10px;

       @media only screen and(max-width:$bp-medium){
    
       border-bottom: #ccc solid 1px; 
       z-index: 100;
    
  }

    }
  }

  & a{
    padding-bottom: 7px;
  }

  & a:hover{
    border-bottom: 2px solid brown;
    transition: 2s ease;
  }

  &-right li{
    padding:0 10px;
  }
}


.showcase{

  max-width: 100%;
  height: 40rem;
  background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
  object-fit: cover;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 4rem;


  &-btn{


  font-weight: bold;
  border:0;
  background: #262626;
  }


    &-text{
      margin-bottom: 1.5rem;
    }



}

.home-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:1.5rem;

  @media only screen and(max-width:$bp-medium){
    
    grid-template-columns: repeat(2, 1fr);
   

  }
  @media only screen and(max-width:$bp-smallest){
    
    grid-template-columns:1fr;
   

  }
  &-img{
   margin-bottom: 2rem;
  }

  a{
    display: inline-block;
    padding-top: 10px;
    text-transform: uppercase;
    color:#0667b8;
    font-size: 1.5rem;
  }

  a:hover i{
    margin-left: 1rem;
    transition: 0.5s ease;
  }
}

.xbox{

  width: 100%;
  height: 350px;
  background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
  margin-bottom: 20px;


  &-content{
    padding-top: 4rem;
    padding-left: 4rem;
    width: 40%;
    
  }

  &-btn{
    margin-top: 2rem;
  }

  @media only screen and(max-width:$bp-smallest){
    
    padding: none;

    &-text{
    display: none;
 
  }
}
}

.carbon{

max-width: 100%;
height: 38rem;
background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
 color:white;





 &-content{
   width: 55%;
   padding-top: 8rem;
   padding-left: 8rem;
 }

 &-title{
   font-size: 1.8rem;
   margin-bottom: 1rem;
 }

 &-btn{
   margin-top: 1.5rem;
   background: #f4f4f4;
   color:black;
 }



 @media only screen and(max-width:$bp-smallest){
    
   &-text{
   display: none;

 }
 

}

 
}


.follow{

  display: flex;
  margin-top: 3rem;

  @media only screen and(max-width:$bp-medium){
    
    text-align: center;
    margin-top: 5rem;
    margin-left: 28rem;

    &-img{
      display: inline;
    }
   

  }
  @media only screen and(max-width:$bp-smallest){
    
    text-align: center;
    margin-left: 5rem;
   

  }

  &-img{
    width: 100%;
   
  }
  a{
    display: inline-block;
    margin-left: 1rem;
  }

  p{
    font-size: 2rem;
    margin-right: 1.5rem;
  }
}

.links{
  background: #f2f2f2;
  color:#616161;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: flex-start;

   
  @media only screen and(max-width:$bp-medium){
    
    grid-template-columns: repeat(3, 1fr);
    ul{
      margin-top: 2rem;
     align-items: center;

    }
  }

  @media only screen and(max-width:$bp-smallest){
    
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }

  li{
    line-height: 2.8;
  }
 
}

.footer{

  background: #f2f2f2;
  color:#616161;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
    display: flex;
    flex-wrap: wrap;
    
  }

  li{
    margin-left:0.8rem;
  }
}

// button 

.menu-btn{

  display: none;
}

@media only screen and(max-width:$bp-medium){
    
 .menu-btn{
   display: block;
  cursor: pointer;
  position: absolute;
  top:20px;
  right: 80px;
  z-index: 20;
}
.menu-btn:hover{
  opacity:0.5;
}

}


.show{
  transform: translateX(-20px) !important;
 
  
}